.FltPreLimit{
	max-width: 42px;
  text-align: center;
}
.Filtros_InText {
  padding: 5px;
  background: #212529;
  border-radius: 0.5em;
  color: white;
  border: 1px solid #4e5a67;
  text-transform: uppercase;

}