.NombreProv{
    font-weight: bolder;
    font-size: 16px !important;
}
.fldPedidos{
    width: 100px !important;
    height: 25px !important;

}
.BtnPedido{
    width: 80px !important;
    height: 25px !important;
    font-weight: bolder;
    font-size: 12px;
}
.inputPack{
    font-size: 14px  !important;
    height: 25px !important;
}
.CardHeader{
    height: 75px  !important;
    margin-left: 8px;
}
.GridHeader{
    flex-direction: row  !important;

}